@using CaptchaMvc.HtmlHelpers
@model MVCBikesWebpage.Models.ContactUsModel
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h1>Contact us</h1>
    <br />
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <span class="control-label col-md-2">@Html.DisplayNameFor(Model => Model.FirstName)</span>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FirstName, new { required = "required" })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">@Html.DisplayNameFor(Model => Model.LastName)</span>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LastName, new { required = "required" })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">@Html.DisplayNameFor(Model => Model.Email)</span>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { type = "email", required = "required" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">@Html.DisplayNameFor(Model => Model.Comments)</span>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Comments, new { required = "required" })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.Captcha("Refresh", "Input", 5, "Is required field.", true)
            </div>
            <div class="col-md-10">
                <span style="color:red">@ViewBag.CaptchaError</span>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
                
            </div>
            <div class="col-md-10">
                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </div>
        </div>
    </div>
}